td {
    border: none;
    padding: 0;
}

input {
    border: 1px solid #d7d7d7;
    display: inline-block;
    padding: 5px;
}

input:focus {
    border: 1px solid #3498db;
}

button.remove-row {
    background: transparent;
    color: #de5b49;
    border: 1px solid #de5b49;
    border-radius: 2px;
    cursor: pointer;
    margin: 2px;
    font-size: 15px;
    padding: 0;
    height: 25px;
    width: 25px;
}

button.remove-row:hover {
    background: #de5b49;
    color: #fff;
}

button.remove-row:focus {
    background: #de5b49;
    color: #fff;
    outline: none;
}

button.remove-row::-moz-focus-inner {
    border: 0;
}

button.add-row {
    background: transparent;
    color: #324d5c;
    border: 1px solid #324d5c;
    border-radius: 2px;
    cursor: pointer;
    margin: 2px;
    font-size: 15px;
    height: 25px;
    padding: 0 6px;
}

button.add-row:hover {
    background: #324d5c;
    color: #fff;
}

button.add-row:focus {
    background: #324d5c;
    color: #fff;
    outline: none;
}

button.add-row::-moz-focus-inner {
    border: 0;
}
