*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 16px;
    font-weight: normal;
    font-family:
        system-ui,
        -apple-system,
        'Segoe UI',
        Roboto,
        sans-serif;
}

h1 {
    border-bottom: 1px solid;
}

h2 > em {
    background: #000;
    color: #fff;
    font-style: normal;
    padding: 3px;
}

section {
    margin: 0 0 100px 0;
}
